/*Estilos gerais*/

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background: #051D3B;
    border-radius: 40px;
}

.caixa-busca {
    font-family: 'Inter', sans-serif;
    background: #FFFFFF29;
    border-radius: 8px;
    padding: 15px;
    font-size: 16px;
    opacity: 64%;
    color: #FFFFFF;
    border: #FFFFFF;
}

.caixa-busca:hover {
    background: #FFFFFF3D;
}

.caixa-busca:focus {
    background: #FFFFFF3D;
    color: #FFFFFF;
}

::placeholder {
    color: #FFFFFF;
}

h1 {
    display: flex;
    color: #FFFFFF;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}

h2 {
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    font-weight: normal;
    margin: 10px;
}

a h2 {
    margin: 5px;
}

a h2:hover {
    font-size: 16px;
}

h3 {
    display: flex;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    margin: 20px 20px;
}


/*Cabeçalho*/

.cabecalho {
    display: flex;
}

.cabecalho .container {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 1%;
}

.logo {
    display: flex;
    width: 20vw;
}

.busque-algo {
    display: flex;
    width: 100%;
    justify-content: center;
}

#busca-primaria {
    display: flex;
    width: 90%;
    height: 56px;
}

.lupa-mobile {
    display: none;
}

.hamburguer-menu {
    display: none;
}

.author {
    display: flex;
    width: 40vw;
    justify-content: flex-end;
}

.author #foto {
    margin: 0px 10px;
}

.author a {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 12px;
}

.author a:hover {
    height: 56px;
    border-radius: 8px;
    background: #FFFFFF14;
    padding: 12px;
}

#menu-hamburguer {
    display: none;
}

.menu {
    display: none;
    background: #051D3B;
    border-radius: 16%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.hamburguer {
    position: relative;
    display: block;
    background: #fff;
    width: 30px;
    height: 2px;
    top: 29px;
    left: 15px;
    transition: 0.5s ease-in-out;
}

.hamburguer:before,
.hamburguer:after {
    background: #fff;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s ease-in-out;
}

.hamburguer:before {
    top: -10px;
}

.hamburguer:after {
    bottom: -10px;
}

#menu-hamburguer {
    display: none;
}

input:checked~label .hamburguer {
    transform: rotate(45deg);
}

input:checked~label .hamburguer:before {
    transform: rotate(90deg);
    top: 0;
}

input:checked~label .hamburguer:after {
    transform: rotate(90deg);
    bottom: 0;
}


/*Conteudo principal*/

.conteudo {
    display: flex;
}

.conteudo .container {
    display: flex;
    width: 100%;
    margin: 1%;
}


/*Menu lateral esquerdo*/

.menu-esquerdo {
    display: flex;
    width: 20vw;
    flex-direction: column;
}

#editor-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    border-radius: 16px;
}

#editor-menu img {
    display: flex;
    height: 15px;
    width: 20px;
}

#comunidade-menu {
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    display: flex;
    border-radius: 16px;
}

#comunidade-menu img {
    display: flex;
    margin: 0px;
    height: 15px;
    width: 20px;
}

nav ul {
    display: flex;
    align-items: center;
    margin-top: 5%;
}


/*Conteudo central*/

.central {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.fundo-editor {
    background-color: #6BD1FF;
    height: 500px;
    width: 90%;
    border-radius: 8px;
    padding: 32px;
}

.editor-codigo {
    display: flex;
    background: #141414;
    height: 100%;
    border-radius: 8px;
    padding: 16px;
}

.bolinhas {
    display: flex;
    position: absolute;
    width: auto;
    height: 20px;
}

.bolinhas span {
    margin: 0px 5px;
    width: 12px;
    height: 12px;
    display: flex;
    border-radius: 50%
}

.campo-codigo {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 18px;
    text-align: left;
    resize: none;
    background-color: #141414;
    align-self: flex-end;
    height: 90%;
    width: 100%;
    border-style: none;
}


/*Menu lateral direito*/

.menu-direito {
    display: flex;
    flex-direction: column;
    width: 40vw;
}

.menu-direito li {
    display: flex;
    margin: 10px 0px;
}

.nome-projeto {
    margin: 15px 0%;
    width: 100%;
}

#nome-projeto {
    height: 56px;
    width: 100%;
}

.descricao-projeto {
    margin-bottom: 20px;
    width: 100%;
}

#descricao-projeto {
    height: 80px;
    width: 100%;
    resize: none;
}

.personalizacao {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#titulo-personalizacao {
    margin-top: 20px;
}

#linguagem {
    height: 56px;
    width: 100%;
    background: #2B4059;
}

#linguagem:hover {
    background: #2B4059;
}

#colorpick {
    background: #C4C4C403;
    height: 56px;
    width: 100%;
    border-radius: 4px;
    margin: 3% 0%;
}

.container-salvar-projeto {
    width: 100%;
}

#salvar-projeto {
    width: 100%;
    height: 56px;
    color: #051D3B;
    background: #5081FB;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    border-style: none;
}

#salvar-projeto:hover {
    background: #7BA4FC;
}

#salvar-projeto:active {
    border: 4px solid #5081FBB8
}

#highlight {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    height: 56px;
    width: 90%;
    left: 344px;
    top: 526px;
    border-radius: 8px;
    margin-top: 20px;
    border-style: none;
    background: #5081FB14;
    transition-timing-function: ease-out, 300ms;
}

#highlight:hover {
    background: #5081FB29;
    transition-timing-function: ease-out, 300ms;
}

#highlight:active {
    border: 4px solid #5081FB3D
}