@media (min-width: 500px) and (max-width: 1155px) {
    body {
        padding: 10px;
    }
    .cabecalho .container {
        justify-content: flex-start;
        width: 100%;
        margin: 1% 1% 5% 1%;
    }
    .logo {
        display: flex;
        width: auto;
    }
    .busque-algo {
        justify-content: flex-end;
    }
    #busca-primaria {
        display: flex;
        width: 95%;
    }
    .author {
        display: none;
    }
    .conteudo .container {
        width: 100%;
        flex-direction: column;
        margin: 1% 0%;
    }
    .menu-esquerdo {
        display: none;
    }
    .central {
        height: 500px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .conteudo {
        width: 100%;
    }
    .fundo-editor {
        height: 100%;
        width: 100%;
    }
    .menu-direito {
        width: 100%;
        margin-top: 10%;
        flex-direction: column;
        display: flex;
        align-items: flex-start;
        margin-left: 0%;
    }
    .editor-codigo {
        width: 100%;
        height: 100%;
    }
    #highlight {
        width: 100%;
    }
    .seu-projeto {
        width: 100%;
    }
    .personalizacao {
        width: 100%;
        margin: 0;
    }
    .tablet-color {
        width: 50%;
        margin: 0% 0% 0% 1%;
    }
    .tablet-select {
        width: 50%;
        margin: 0% 1% 0% 0%;
    }
    .personalizacao {
        flex-direction: row;
        align-items: center;
    }
    .menu {
        display: flex;
    }
    /*comunidade*/
    #segundo-editor {
        display: none;
    }
    #segundo-info {
        display: none;
    }
    .central-comunidade .fundo-editor-comunidade {
        background-color: #27C93F;
        width: 100%;
    }
    .central-comunidade .infos-projetos {
        width: 100%;
    }
    .menu-direito-comunidade {
        width: 100%;
    }
    .menu-direito-comunidade h2 {
        margin: 3% 0%;
    }
}