.bolinhas__editor {
  background: #FFBD2E;
  display: flex;
  position: absolute;
  top: 45px;
  left: 60px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  z-index: 1;
}

.bolinhas__editor:before {
  background: #FF5F56;
  position: absolute;
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 50%;
  left: 1em;
}

.bolinhas__editor:after {
  background: #27C93F;
  position: absolute;
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 50%;
  right: 1em;
}

.espaco__editor__comunidade .bolinhas__editor {
  top: 10px;
  left: 30px;
}