.principal__editor {
    background-color: #6BD1FF;
    height: 500px;
    width: 90%;
    border-radius: 8px;
    padding: 32px;
}

.preview {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    text-align: left;
    line-height: 18px;
    color: #FFFFFF;
    background-color: #141414;
    padding: 10px;
    border-radius: 7px;
    height: 90%;
    width: 100%;
    align-self: flex-end;
    outline: none;
    border-style: none;
    white-space: pre-line;
}

.principal__editor__area__codigo {
    display: flex;
    background: #141414;
    height: 100%;
    border-radius: 8px;
    padding: 16px;
}

.bolinhas__editor {
    display: flex;
    position: absolute;
    width: auto;
    height: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

.bolinhas__editor span {
    display: flex;
    margin: 0px 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%
}


/*Comunidade*/

.principal__editor__comunidade {
    display: flex;
    background-color: #6BD1FF;
    height: 350px;
    width: 45%;
    border-radius: 8px;
    padding: 32px;
    margin: 1%;
}

.editor__codigo__comunidade {
    display: flex;
    background: #141414;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    padding: 16px;
}

@media screen and (max-width: 1155PX) {
    .principal__editor__comunidade {
        width: 90%;
    }
    #segundo__editor {
        display: none;
    }
    #segundo__projetos {
        display: none;
    }
}