.cabecalho {
    display: flex;
}

.cabecalho .container {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 1%;
}

.logo {
    display: flex;
    width: 20vw;
}

.cabecalho__caixa__busca {
    display: flex;
    width: 100%;
    justify-content: center;
}

#caixa__busca__primaria {
    width: 90%;
    height: 56px;
}

.cabecalho__lupa__busca {
    display: none;
}

.cabecalho__hamburguer {
    display: none;
}

.cabecalho__perfil {
    display: flex;
    width: 40vw;
    justify-content: flex-end;
}

.cabecalho__perfil .cabecalho__perfil__foto {
    width: 32px;
    height: 32px;
    margin: 0px 10px;
}

.cabecalho__perfil a {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 12px;
}

.cabecalho__perfil a:hover {
    height: 56px;
    border-radius: 8px;
    background: #FFFFFF14;
    padding: 12px;
}

@media screen and (max-width: 1155px) {
    .cabecalho {
        justify-content: center;
        margin: 1% 0 5% 1%;
    }
    .cabecalho .container {
        justify-content: space-between;
        width: 90%;
    }
    #caixa__busca__primaria {
        display: none;
    }
    .cabecalho__perfil {
        display: none
    }
    .cabecalho__lupa__busca {
        display: flex;
        margin-right: 1rem;
    }
    .cabecalho__hamburguer {
        display: flex;
        height: 48px;
        width: 66px;
        border-radius: 16px;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 500px) and (max-width: 1155px) {
    .logo {
        width: 140px;
    }
    .cabecalho__lupa__busca {
        display: none;
    }
    #caixa__busca__primaria {
        display: flex;
    }
}