/*Estilos gerais*/

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background: #051D3B;
    border-radius: 40px;
}

.caixa__busca__estilo {
    font-family: 'Inter', sans-serif;
    background: #FFFFFF29;
    border-radius: 8px;
    padding: 15px;
    font-size: 16px;
    opacity: 64%;
    color: #FFFFFF;
    border: #FFFFFF;
    outline: none;
}

.caixa__busca__estilo:hover {
    background: #FFFFFF3D;
}

.caixa__busca__estilo:focus {
    background: #FFFFFF3D;
    color: #FFFFFF;
}

::placeholder {
    color: #FFFFFF;
}

h2 {
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    font-weight: normal;
    margin: 5px;
}

p {
    color: #FFFFFF;
}


/*Conteudo principal*/

.conteudo {
    display: flex;
}

.conteudo .container {
    display: flex;
    width: 100%;
    margin: 1%;
}

.principal {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.principal__comunidade {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media screen and (max-width: 1155px) {
    .principal {
        margin-bottom: 2rem;
    }
    .conteudo .container {
        flex-wrap: wrap;
    }
}