body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background: #051D3B;
    border-radius: 40px;
}

.conteudo {
    display: flex;
}

.conteudo .container {
    display: flex;
    width: 100%;
    margin: 1%;
}

.principal {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.principal__comunidade {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

@media screen and (max-width: 1155px) {
    .principal {
        margin-bottom: 2rem;
    }
    .conteudo .container {
        flex-wrap: wrap;
    }
}