.menu__secundario {
    display: flex;
    flex-direction: column;
    width: 40vw;
}

.menu__secundario__titulo {
    display: flex;
    margin-bottom: 1em;
}

.menu__secundario__input {
    display: flex;
    width: 100%;
    margin: 0em 0 1em 0;
}

#input__projeto {
    width: 100%;
}

#input__descricao {
    width: 100%;
    height: 10em;
    resize: none;
}

.menu__secundario__personalizacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

#linguagem {
    height: 56px;
    width: 49%;
    background: #2B4059;
}

#linguagem:hover {
    background: #2B4059;
}

.menu__secundario__colorpick {
    background: #C4C4C403;
    height: 56px;
    width: 49%;
    border-radius: 4px;
    border-color: #FFFFFF;
}

@media screen and (max-width: 1155px) {
    .menu__secundario {
        width: 100%;
        align-items: center;
    }
    .menu__secundario__titulo {
        font-size: 18px;
    }
    .menu__secundario__input {
        width: 90%;
    }
    .salvar__projeto {
        width: 90%;
    }
    .menu__secundario__colorpick {
        display: flex;
        margin-left: 1rem;
        width: 48%;
    }
    .menu__secundario__personalizacao {
        width: 90%;
        display: flex;
        justify-content: space-around;
    }
    #linguagem {
        width: 48%;
    }
}

@media screen and (max-width: 500px) {
    .menu__secundario__colorpick {
        width: 100%;
        margin-top: 0;
        margin-left: 0;
    }
    .menu__secundario__personalizacao {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
        align-items: center;
    }
    #linguagem {
        width: 100%;
        margin-right: 0;
    }
}